@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-align: none;
}

body {
  font-size: 14px;
  background: #eee;
}

/*
  div 元素
  多行注释 编译后，css文件会保留
*/
/*!
  强制注释，压缩的文件会保留
*/
div {
  width: 2rem;
  color: #ff8907;
  background: #ff8907;
}

#list {
  width: 100px;
  height: 20px;
}

#list li {
  font-size: 20px;
}

#list li p {
  padding-top: 40px;
  padding-bottom: 30px;
}

#list-inner {
  color: #ff8907;
}

.link {
  color: #ff8907;
}

.link:hover {
  color: #000;
}

.login-btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background: #ff8907;
}

.register-btn {
  width: 30px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background: #ff8907;
}

.submit-btn {
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background: #ff8907;
}

.wrapper, .wrapper .inner, #main {
  width: 100px;
  height: 30px;
  font-size: 20px;
}

.wrapper .inner, #main .inner {
  padding: 20px;
}

#main {
  margin: 20px;
}

.content {
  width: 30%;
  height: 10px;
}

div {
  width: 60px;
  border-bottom: 1px solid #000;
}

section {
  border-bottom: 1px solid #000;
}

p {
  color: blue;
}

li {
  font-size: 16px;
}

.list-1 {
  width: 100px;
}

.list-2 {
  width: 200px;
}

.list-3 {
  width: 300px;
}

.text-1 {
  width: 100px;
}

.text-2 {
  width: 200px;
}

.content-red {
  color: red;
}

.content-blue {
  color: blue;
}

.content-green {
  color: green;
}

.content-pink {
  color: pink;
}

.item-6 {
  width: 12em;
}

.item-4 {
  width: 8em;
}

.item-2 {
  width: 4em;
}

div {
  background: url("./images/XXX.PNG");
}
